<%= erb :"partials/_question", layout: false, locals: {question: @question} %>
<br><hr><br><br>
<%= erb :"partials/_new_answer", layout: false, locals: {question: @question} %>

  <% @question.answers.each do |answer| %>
    <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>"><%= answer.body %></a>
    <% if own_answer?(answer) %>
      <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">: Edit</a>
      <%= erb :"answers/_delete", layout: false,locals: {question: @question, answer: answer} %>
    <% end %>
    <br><br>
  <%end%>
