<div class="container">

  <div class="questions-show">

    <h6>Question Answers #: <%= @question.answers.length %> </h6>

    <h2><%= @question.title %></h2>

    <h4 class="question-body"><%= @question.body %></h4>
    <hr>
    <% @question_answers.each do |answer| %>
      <p class="question-answer"><%= answer.body %></p>
    <%end%>

  </div>

    <%= erb :"partials/_new_answer", layout: false, locals: {question: @question} %>
</div>
