<div class="container">


  <div class="questions-show">

    <h6>Question Answers #: <%= @question.answers.length %> </h6>

    <h2><%= @question.title %></h2>

    <h4 class="question-body"><%= @question.body %></h4>
    <hr>
    <% @question.answers.each do |answer| %>
      <p class="question-answer"><%= answer.body %></p>
    <%end%>

    <%= erb :"partials/_new_answer", layout: false, locals: {question: @question} %>

  <% if logged_in? && own_question?(@question) %>
  <a href="/questions/<%=@question.id%>/edit">Edit</a>
  <form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <% end %>


  <% @question.answers.each do |answer| %>
  <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>"><%= answer.body %></a> :
    <% if own_answer?(answer) %>
      <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit</a>
    <% end %>
    <br><br>
  <%end%>

</div>
