<div class="container">
  <br>
  <div>Question Title</div>
  <h3><%= @question.title %></h3>
  <br><br>
  <div>Question Body</div>
  <h4><%= @question.body %></h4>
  <br><br>

  <div class="container">
  <% if logged_in? && own_question?(@question) %>
  <a href="/questions/<%=@question.id%>/edit">Edit</a>

  <form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <% end %>
</div>

  <%= erb :"partials/_new_answer", layout: false, locals: {question: @question} %>
  <br><br>
  <div>Question Answers #: <%= @question.answers.length %></div>
  <br><br>
  <% @question_answers.each do |answer| %>
    <%= answer.body %>
    <br><br>
    <% if own_answer?(answer) %>
      <a href="/questions/:question_id/answers/:answer_id/edit">Edit</a>
       <!-- Put Delete in here -->
    <% end %>
    <br><br>
  <%end%>
</div>
