<h2>Question:     <%= @question.title %></h2><br>
<div>Question By:     <%= @question.user.username %></div><br>
<div>Question Body:     <%= @question.body %></div><br>
<br><br><br><br>
<h2><%= @answer.body %></h2><br>
<div>Answer By: <%= @answer.user.username %></div><br>
