<%= erb :"partials/_new_question", layout: false %>

<div class="container">
  <br>

  <% @questions.each do |question| %>
    <h3><div class="question-title"><a href='/questions/<%= question.id %>'><%= question.title %></a></div></h3>
    <!-- Question title: <br>
    <h3><%= question.title %></h3> -->
    <div class="question-answer">Answer #: <%= question.answers.length %></div>

<!--     <h4>Answers</h4> -->


    <br><br>
  <%end%>
</div>
