<div class="container">

  <% @questions.each do |question| %>
    <h3 class="question-title"><a href='/questions/<%= question.id %>'><%= question.title %></a></h3>
    <p>
      <span class = "question_points"> Points: <%= question.score %> |</span>
      <span class = "question_answers">  Answers: <%= question.answers.length %> |</span>
      <span class = "question_points">  Comments: <%= question.comments.length %></span>
    </p>
    <br><br>
  <%end%>
</div>
